// # =================================================================
// # Base
// # =================================================================

// # Height
// # =================================================================
html,
body,
.-fullHeight {
  height: 100%;
}

a {
  transition: all .2s;
}

ul {
  list-style: none; 
}

hr {
  border-top-color: $gray-blue-light;
}
