// # =================================================================
// # Colors
// # =================================================================

// # Brand
// # =================================================================
$brand: #259af4;

// # General
// # =================================================================
$black: #424242;

// =========== Grays
$gray-blue-lighter: #f6f8f9;
$gray-blue-light: #dce0e3;
$gray-blue: #a7adb1;
$gray: #9e9e9f;
$gray-medium: #666;
$gray-blue-medium: #879096;
$gray-blue-dark: #70777b;

// =========== Blue
$blue-light: #e0eefd;

$success: #000;
$error: #000;
$info: #000;
$yellow: #000;
