// # =================================================================
// # Colors
// # =================================================================
$black: #000000;
$gray: #5c5c5c;
$gray-light: #9b9b9b;

$red: #e93f3f;
$yellow: #ffb400;

$error: $red;
$warning: $yellow;
$info: #5bc0de;
$success: #5cb85c;
