// # =================================================================
// # Breadcrumbs
// # =================================================================
.breadCrumbs,
.breadCrumbs a {
  font-size: 2.125rem;
  color: $gray-light;
  color: $gray-light;
  letter-spacing: 3px;

  &.-active {
    color: $black;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
