// # =================================================================
// # Form
// # =================================================================

// # General
// # =================================================================
input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]),
select,
textarea,
button[data-toggle="dropdown"] {
  appearance: none;
  background-color: white;
  box-sizing: border-box;
  outline: 0;
  padding: 5px 10px;
  min-height: 45px;
  width: 100%;

  &.-block {
    width: 100% !important;
  }
}

::placeholder {
  color: #ccc !important;
}
