// # =================================================================
// # Navbar
// # =================================================================
.navbar {
  border: none;
  height: 45px;
  min-height: auto;
  margin-bottom: 0;
  z-index: 1000;

  .navbar-brand {
    color: white;
    height: 45px;
    padding: 11px 15px 14px;
    font-weight: 700;

    &:hover,
    &:focus {
    color: lighten($brand, 30%);
    transition: all .2s;
    }
  }
}

.navbar-default {
  border-radius: 0;
  background-color: $brand;

  .navbar-nav > li > a {
    color: white;
    padding: 6px 13px 7px;
    margin-top: 5px;
    margin-left: 5px;

    &:hover,
    &:focus {
      background-color: lighten($brand, 10%);
      border-radius: $globalRadius;
      color: white;
    }

    &.active {
      background-color: darken($brand, 10%);
      border-radius: $globalRadius;
    }
  }

  .navbar-toggle {
    border: 0;
    padding: 11px 10px;
    margin-bottom: 0;
    margin-top: 4px;

    .icon-bar {
      background-color: white;
  }

    &:hover,
    &:focus {
      background-color: lighten($brand, 10%);
    }
  }

  .navbar-collapse {
    background-color: $brand;
    border: 0;
  }
}

.navbar-right {
  margin-right: 0;
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    margin: 0px 5px 2px 5px;
  }
}
