// # =================================================================
// # Project List
// # =================================================================
.projectTitle {
  color: $black;
  font-size: 1.125rem;
  line-height: 1.3rem;
  margin-bottom: 0;
}

.projectSubtitle {
  margin: 0;
}

.projectDate {
  font-size: .75rem;
  color: $gray-light;
}

.projectDescription {
  line-height: 1.4rem;
}

.projectImg,
.projectImg-gallery {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.projectImg-gallery {
  height: 250px;
}
