// # =================================================================
// # Profile
// # =================================================================
.profile {
  .profileImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    display: block;
    height: 160px;
    width: 160px;
  }

  .profileName {
    color: $gray-light;
  }
}