// # =================================================================
// # Profile
// # =================================================================
.profile {
  .profileImage {
    display: block;
    background-color: #f2f2f2;
    height: 160px;
    width: 160px;
  }

  .profileName {
    color: $gray-light;
  }
}