// # =================================================================
// # Project List
// # =================================================================
.projectTitle {
  color: $black;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.projectSubtitle {
  margin: 0;
}

.projectDate {
  font-size: .75rem;
  color: $gray-light;
}

.projectDescription {
  line-height: 1.4rem;
}
