= f.input :name
= f.input :avatar, as: :file
= f.hidden_field :avatar_cache
- if f.object.avatar.url.present?
  = image_tag f.object.avatar, class: 'u-centered profileImage img-circle'
= f.association :categories, as: :check_boxes, collection: Category.where(people: true)
