= link_to 'People', admin_people_path
| | 
= link_to 'Works', admin_works_path
| | 
= link_to 'Categories', admin_categories_path
| | 
= link_to 'Logout', destroy_admin_user_session_path, method: :delete
